header {
  position: relative;
  figure {
    margin: 0;
    padding: 0;
    figcaption {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: fill;
    }
  }
  h1 {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    font-weight: bold;
    background: #ffffff80;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
  }
}
p {
  padding: 0.6rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  &::after {
    content: "";
    text-align: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), #fff);
    display: block;
    position: absolute;
    overflow: hidden;
  }
}

a {
  &:hover {
    text-decoration: underline;
  }
}
