<div
  class="recommendations"
  *ngIf="recommendations$ | async; let recommendations; else: loading"
>
  <div *ngIf="(recommendations?.results)!.length">
    <h2 class="recommendations-title">Recommendations</h2>
    <div class="recommendations-grid-list">
      <article
        class="card-collections"
        *ngFor="
          let item of recommendations?.results;
          let indexItem = index;
          trackBy: trackByFn
        "
      >
        <figure>
          <a [routerLink]="['/media/details', 'movie', item.id]">
            <img
              [src]="utils.posterImage(item.poster_path!)"
              [alt]="item.title"
            />
          </a>
        </figure>
        <div class="content">
          <h2 class="title">{{ item.title }}</h2>
          <p class="overview">{{ item.overview }}</p>
          <div class="learn-more">
            <a [routerLink]="['/media/details', 'movie', item.id]"
              >Learn More</a
            >
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
