.recommendations {
  padding: 2.5rem;
  &-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #000;
  }
  &-grid-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    @media screen and (min-width: 600px) and (max-width: 801px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
    }
    @media screen and (min-width: 801px) and (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1rem;
    }
  }
}

.card-collections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-height: 150px;
  overflow: hidden;
  figure {
    position: relative;
    margin: 0;
    width: 141px;
    overflow: hidden;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
    .title {
      font-size: 1rem;
      margin: 0 0 0.5rem;
      font-weight: bold;
    }
    .overview {
      position: relative;
      margin: 0 0 0.5rem;
      height: 50px;
      overflow: hidden;
      line-height: 1rem;
      &::after {
        content: "";
        text-align: right;
        bottom: -10px;
        left: 0px;
        width: 100%;
        height: 60px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), #fff);
        display: flex;
        position: absolute;
        overflow: hidden;
      }
    }
    .learn-more {
      align-self: flex-end;
      background-color: #2d3748;
      font-size: 0.75rem;
      padding: 0.5rem 0.75rem;
      border-radius: 0.25rem;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
