<div class="recommendations">
  <h2 class="recommendations-title">Recommendations</h2>
  <div class="recommendations-grid-list">
    <article class="card-collections">
      <figure class="Poster-collections__sc-1htzsea-1 gNJuIT">
        <a routerLink="/details/movie/464052">
          <img
            src="https://image.tmdb.org/t/p/w92/8UlWHLMpgZm9bx6QYh0NFoq67TZ.jpg"
            alt="Wonder Woman 1984"
          />
        </a>
      </figure>
      <div class="content">
        <h2 class="title">Wonder Woman 1984</h2>
        <p class="overview">
          A botched store robbery places Wonder Woman in a global battle against
          a powerful and mysterious ancient force that puts her powers in
          jeopardy.
        </p>
        <div class="learn-more">
          <a routerLink="/details/movie/464052">Learn More</a>
        </div>
      </div>
    </article>
  </div>
</div>
