<article class="media-details">
  <nav>
    <a routerLink="/">Home</a>
  </nav>

  <figure>
    <img
    class="full-size"
      src="https://image.tmdb.org/t/p/w780/kf456ZqeC45XTvo6W9pW5clYKfQ.jpg"
      alt="Soul"
    />
  </figure>
  <header>
    <figure>
      <img
        src="https://image.tmdb.org/t/p/w154/hm58Jw4Lw8OIeECIq5qyPYhAeRJ.jpg"
        alt="Soul"
      />
    </figure>
    <div class="info">
      <h1 class="title">Soul</h1>
      <p class="category">
        Family | Animation | Comedy | Drama | Music | Fantasy
      </p>
      <span class="runtime">Length: 1h 41m</span>
    </div>
  </header>
  <p class="overview">
    Joe Gardner is a middle school teacher with a love for jazz music. After a
    successful gig at the Half Note Club, he suddenly gets into an accident that
    separates his soul from his body and is transported to the You Seminar, a
    center in which souls develop and gain passions before being transported to
    a newborn child. Joe must enlist help from the other souls-in-training, like
    22, a soul who has spent eons in the You Seminar, in order to get back to
    Earth.
  </p>
  <hr />
  <app-recommendations></app-recommendations>
  <hr />
  <app-similar></app-similar>
</article>
