<article
  class="media-details"
  *ngIf="details$ | async; let details; else: loading"
>
  <nav>
    <ul class="breadcrumb">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a>{{ details.title }}</a>
      </li>
    </ul>
  </nav>

  <figure>
    <img
      class="full-size"
      [src]="utils.backdropImage(details.backdrop_path!)"
      [alt]="details.title"
    />
  </figure>
  <header>
    <figure>
      <img
        [src]="utils.posterImage(details.poster_path!)"
        [alt]="details.title"
      />
    </figure>
    <div class="info">
      <h1 class="title">{{ details.title }}</h1>
      <p class="category">{{ utils.genres(details.genres) }}</p>
      <span class="runtime"
        >Length: {{ utils.convertMinutesToTime(details.runtime) }}</span
      >
    </div>
  </header>
  <p class="overview">{{ details.overview }}</p>
  <hr />
  <app-recommendations [mediaId]="details.id.toString()"></app-recommendations>
  <hr />
  <!--app-similar></app-similar-->
</article>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
