header {
  background-color: #000;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  z-index: 1;
  position: fixed;
  width: 100%;
  h1 {
    padding: 0.5rem 1rem;
    background-color: #ccc;
    font-weight: bold;
    margin-right: 2rem;
    border-radius: 0.2rem;
    color: #000;
  }
}
